nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 15px;
}

.links {
  display: flex;
  justify-content: space-between;
}

.links a {
  text-decoration: none;
  color: #000;
  font-weight: bold;
  margin-right: 10px;
}

.links a.active {
  border-bottom: 1px solid #000;
}

.bear {
  position: absolute;
  height: 15rem;
  width: 15rem;
  left: 1rem;
  top: 28rem;
}

.forest {
  margin-top: 1.5rem;
  position: relative;
  top: 0;
  left: 0;
}

.sessionInfo {
  margin-top: 1.5rem;
  margin-bottom: 1.5rem;
  display: flex;
  justify-content: space-around;
  flex-direction: row;
  align-items: space-around;
  flex-wrap: wrap;
}

.login-form {
  margin: 0 auto;
  display: flex;
  justify-content: center;
  flex-direction: column;
  width: 20rem;
}

.login-form input {
  margin-bottom: 1rem;
}

.register-form {
  margin: 0 auto;
  width: 20rem;
  display: flex;
  justify-content: flex-end;
  flex-direction: column;
}

.register-form input {
  margin-bottom: 1rem;
}

.session-form {
  display: flex;
  justify-content: flex-end;
  flex-direction: column;
  align-content: baseline;
}

.session-form input {
  margin-bottom: 1rem;
}
