.App h1 {
  text-align: center;
}

nav {
  display: flex;
  justify-content: space-between;
  align-content: center;
  max-width: 100%;
  margin-top: 1.0rem;
  padding-bottom: 1.5rem;
  border-bottom: 0.1rem solid #000;
}

.logo {
  margin-left: 1rem;
}

nav .nav-links {
  display: flex;
  justify-content: center;
}

 a {
  text-decoration: none;
  margin-right: 1.0rem;
}